header {
    background-image: url('./img/common/header.png');
    background-repeat: no-repeat;
    background-position: center;
    height: 56px;
    width: 1000px;
    margin: 0 auto;
}

article {
    background-image: url('./img/common/page_bg.jpg');
    background-repeat: no-repeat;
    background-size: auto;
    width: 1000px;
    margin: 0 auto;
    display: flex;
    position: relative;
}

.left-content {
    width: 60%;
}

.left-content img {
    display: block;
}

.left-content--img__icon {
    padding: 60px 0 20px 35px;
}

.left-content--img__content {
    padding: 20px;
}

.right-content {
    width: 40%;
    padding: 20px;
}

.right-content img {
    width: 100%;
}

footer {
    position: sticky;
    width: 1000px;
    bottom: 0;
    left: 0;
    margin: 0 auto;
    display: flex;
}

.nav-left {
    display: flex;
    flex-grow: 0;
}

.nav-left a:nth-child(1) {
    margin-right: 5px;
}

.nav-right {
    display: flex;
    background-color: rgba(0, 0, 0, 0.4);
    justify-content: space-around;
    align-items: center;
    flex-grow: 1;
}

a img {
    display: block;
}

.vertical-center {
    display: flex !important;
    align-items: center;
}

.nav-footer {
    position: relative;
    display: inline-block;
}

.nav-footer .img-top {
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 99;
}

.nav-footer:hover .img-top {
    display: inline;
}