body {
    font-family: Helvetica, sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
}

header,
main .intro,
main .project,
main .wrapper,
footer {
    width: 960px;
}

header {
    height: 135px;
    background-image: url('https://picsum.photos/960/135');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

header .overlay {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    width: 100%;
    padding: 20px;
    box-sizing: border-box;
}

header .header-content {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    font-size: 36px;
    font-weight: bold;
    color: #FFF;
}

header .breadcrumb {
    font-size: 18px;
    color: #FFF;
}

.breadcrumb a {
    transition: all 0.3s;
}

.breadcrumb a:hover {
    color: #0063f7;
    transform: skewX(-10deg);
    display: inline-block;
}

a {
    text-decoration: none;
    text-transform: capitalize;
    color: #000;
}

main {
    display: flex;
    align-items: center;
    flex-direction: column;
}

.intro {
    height: 408px;
    text-align: center;
    border-bottom: 1px solid #CCC;
    box-sizing: border-box;
}

.intro h1 {
    margin-bottom: 44px;
    padding-top: 100px;
    margin-top: 0;
}

.intro p {
    margin: 0px 155px 46px 115px;
}

.intro a {
    background-color: #000;
    display: inline-block;
    padding: 14px;
    border-radius: 3px;
    transition: background-color 0.3s;
}

.intro a:hover {
    background-color: #0063f7;
}

.project {
    height: 510px;
}

.project h1 {
    text-transform: capitalize;
    padding-top: 55px;
    margin-bottom: 45px;
}

.project .project-content {
    display: flex;
    justify-content: space-between;
}

.project-content .project--card {
    width: 300px;
    display: flex;
    flex-direction: column;
}

.project--card .project--card-img {
    height: 200px;
    width: 100%;
}

.project--card .project--card-body {
    height: 80px;
    width: 299;
    text-align: center;
    border-bottom: 1px solid #CCC;
    border-left: 1px solid #CCC;
    border-right: 1px solid #CCC;
    border-radius: 0 0 3px 3px;
}

.project--card-body p:nth-child(1) {
    font-weight: bold;
    font-size: 18px;
    margin-top: 0;
    margin-bottom: 15px;
    padding-top: 20px;
}

.project--card-body p:nth-child(2) {
    font-size: 15px;
    color: #666;
}

.info {
    height: 485px;
    background-color: #e5e5e5;
    width: 100vw;
    display: flex;
    justify-content: center;
}

.info .wrapper {
    display: flex;
}

.info .left-content {
    width: 510px;
    padding-right: 50px;
}

.info .right-content {
    width: 450px;
}

.info h1 {
    text-transform: capitalize;
    margin-bottom: 50px;
    padding-top: 50px;
}

.info .left-content p {
    font-size: 15px;
}

.info .left-content p:nth-child(3) {
    margin-bottom: 50px;
}

.social span {
    display: inline-block;
    border: 2px solid #000;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
    transition: all 0.3s;
}

.social span:hover {
    background-color: rgba(0, 153, 255, 0.733);
}

.social span i {
    font-size: 20px;
}

.social span i {
    width: 100%;
    height: 100%;
    display: inline-block;
    display: flex;
    justify-content: center;
    align-items: center;
}

.info--card {
    display: flex;
    margin: 30px 0px;
}

.info--card .info-card-img {
    margin-right: 20px;
}

.info--card img {
    width: 150px;
    height: 100px;
}

.info--card p:nth-child(1) {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 18px;
    font-weight: bold;
}

.info--card p span {
    font-size: 13px;
    color: red;
}

.info--card p span:nth-child(2) {
    color: #a0a0a0;
}

footer {
    height: 280px;
}

footer .footer-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-top: 30px;
    font-size: 15px;
    font-weight: bold;
}

.footer-content p {
    margin: 0px;
}

.text-white {
    color: #FFF;
}

.text-black {
    color: #000;
}

.text-red {
    color: red;
}